@import '~styles/fonts';
@import '~styles/colors';

body {
  background: $color1;
  font-family: $fontFamily1;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
