$black: #000000;
$blue: #1991eb;
$darkBlue: #222c3c;
$grey: #5b6779;
$lightGrey: #b7c0cd;
$white: #ffffff;

$color1: $white;
$color2: $black;
$color3: $darkBlue;
$color4: $grey;
$color5: $lightGrey;
$color6: $blue;
