@import '~styles/colors';

.container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: $color3;
  z-index: 3;
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  border-radius: 4px;
  background-color: $color3;
  outline: none;
}

.modalPortal {
  position: relative;
  z-index: 3;
}
